<div class="admin-countries-show-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="title">
          <h2><%= @country.name %></h2>
        </div>
        <div class="body-content">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <strong><%= label_tag :name %></strong>
                <p>
                  <%= @country.name %>
                </p>
              </div>
              <div class="form-group">
                <strong><%= label_tag :currency_code %></strong>
                <p>
                  <%= @country.currency_code %>
                </p>
              </div>
              <div class="form-group">
                <%= link_to "Edit", edit_admin_country_path(@country), class: "btn btn-block btn-outline-warning" %>
                <%= link_to "Delete", admin_country_path(@country), method: :delete, class: "btn btn-block btn-outline-danger" %>
                <%= link_to "Back", admin_countries_path, class: "btn btn-block btn-link" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
